<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}La Cachoneta{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <header>
            <h1>La cachoneta</h1>
            <p>Proyecto integrador python</p>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

</body>
</html>