{% extends 'base.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block content %}
<section class="hero-card">
  <div class="hero-info">
    <span class="badge"> &star; Proyecto Integrador Python</span>
    <h1>Bienvenidos a la verduleria Don Cacho</h1>
    <p>
      Este es un proyecto académico diseñado para optimizar la gestión de
      ventas y stock de una verdulería local, facilitando el control diario de
      productos con una interfaz intuitiva y moderna pensada para el mercado actual.
    </p>
    <div class="hero-actions">
      <a href="{{url_for('mostrar_productos')}}" class="btn btn-primary">Ver catálogo</a>
    </div>
  </div>
  <div class="hero-image-wrapper">
    <img class="logo-cachoneta" src="/static/img/cachoneta.png" alt="La Cachoneta Bus" />
  </div>
</section>

<main class="panel-section">
  <div class="panel-header-title">
    <h3>Panel de control</h3>
    <p>Acceso rápido para la gestión</p>
  </div>

  <div class="cards-container">
    <div class="card">
      <div class="card-icon-wrapper icon-green">➕</div>
      <h6>Agregar producto</h6>
      <p>Incorpora nuevas frutas y verduras al catálogo general.</p>
      <a href="{{url_for('agregar_producto')}}" class="card-action-link">Gestionar ➔</a>
    </div>

    <div class="card">
      <div class="card-icon-wrapper icon-yellow">📦</div>
      <h6>Lista de productos</h6>
      <p>Visualiza el catálogo completo.</p>
      <a href="{{url_for('mostrar_productos')}}" class="card-action-link">Ver catálogo ➔</a>
    </div>

    <div class="card card-dark">
      <div class="card-icon-wrapper icon-light-green">📟</div>
      <h6>Realizar compra</h6>
      <p>Punto de venta para registrar transacciones de clientes.</p>
      <a href="{{url_for('comprar_productos')}}" class="card-action-link">Ir a caja ➔</a>
    </div>
    
    <div class="card">
      <div class="card-icon-wrapper icon-yellow">📊</div>
      <h6>Control de ventas</h6>
      <p>Analiza el rendimiento diario de tu local.</p>
      <a href="{{url_for('ventas')}}" class="card-action-link">Ver reportes ➔</a>
    </div>
  </div>
</main>
{% endblock %}