{% extends 'base.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block content %}
<section>
  <div class="info-section">
    <h3>Bienvenidos a la verduleria Don Cacho</h3>
    <p>
      Este es un proyecto academico diseniado para optimizar la gestion de
      ventas y stock de una verduleria local, facilitando el control diario de
      productos con una interfaz intuitiva.
    </p>
  </div>
  <img class="logo-cachoneta" src="/static/img/cachoneta.png" alt="logo" />
</section>

<main>
  <div class="panel-container">
    <h3>Panel de control</h3>
    <p>acceso rapido para la gestion</p>
  </div>
  <div class="cards-container">
    <div class="card">
      <img src="/static/img/cachoneta.png" height="40" width="40" alt="" />
      <a href="{{url_for('agregar_producto')}}">
        <h6>Agregar producto</h6>
      </a>
      <p>Incorpora nuevas frutas y verduras al catalogo general.</p>
    </div>
    <div class="card">
      <img src="/static/img/cachoneta.png" height="40" width="40" alt="" />
      <a href="{{url_for('mostrar_productos')}}">
        <h6>Lista de productos</h6>
      </a>
      <p>Visualiza el catalogo completo.</p>
    </div>
    <div class="card">
      <img src="/static/img/cachoneta.png" height="40" width="40" alt="" />
      <a href="{{url_for('comprar_productos')}}">
        <h6>Realizar compra</h6>
      </a>
      <p>Punto de venta para registrar transacciones de clientes.</p>
    </div>
    <div class="card">
      <img src="/static/img/cachoneta.png" height="40" width="40" alt="" />
      <a href="{{ url_for('vista_editar_inventario') }}">
        <h6>Editar Stock</h6>
      </a>
      <p>Actualiza cantidades y precios de forma masiva.</p>
    </div>
    <div class="card">
      <img src="/static/img/cachoneta.png" height="40" width="40" alt="" />
      <a href="{{ url_for('vista_eliminar_inventario') }}">
        <h6>Eliminar producto</h6>
      </a>
      <p>Remueve productos obsoletos o fuera de temporada.</p>
    </div>
    <div class="card">
      <img src="/static/img/cachoneta.png" height="40" width="40" alt="" />
      <a href="{{url_for('ventas')}}">
        <h6>Control de ventas</h6>
      </a>
      <p>Analiza el rendimiento diario de tu local.</p>
    </div>
  </div>
</main>
{% endblock %}