{% extends 'base.html' %}

{% block title %}{{ accion|capitalize }} productos{% endblock %}

{% block content %}
<a href="/" class="nav-link">&larr; Volver al Inicio</a>
<div class="card">
  <h2>Inventario de Productos</h2>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>

    {% for p in productos %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>${{ p.precio }}</td>
      <td>
        {% if p.stock <= 10 %}
        <span class="critico">{{ p.stock }}</span>
        {% else %} {{ p.stock }} {% endif %}
      </td>
      <td style="display: flex; align-items: center">
        {% if accion == 'editar' %}
          <a href="{{ url_for('editar_producto', nombre=p.nombre) }}" class="btn-editar"><img src="/static/icons/edit_icon.png" alt="edit"></a>
        {% elif accion == 'eliminar' %}
          <a href="{{ url_for('eliminar_producto', nombre=p.nombre) }}" class="btn-borrar"><img width="20" height="20" src="/static/icons/bin_icon.png" alt="bin"></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
