{% extends 'base.html' %} 
{% block title %}Historial de ventas{% endblock %} 
{%block content %} 
<a href="/" class="nav-link">&larr; Volver al Inicio</a>

<div class="card">
    <h1>Historial de Ventas</h1>

    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>

        {% for venta in ventas %}
        <tr>
            <td>{{ venta.producto }}</td>
            <td>{{ venta.cantidad }}</td>
            <td style="font-weight: bold; color: var(--primary-color);">${{ venta.total }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}